body{
    background-color: white;
    color: white;
    font-size: 21px;
    font-family: sans-serif; 
}

header{
    color: black;
    font-size: 150px
}

div{
background: black;
width: 250px;
}


span{
background: white ; 
color: black;
font-size: 25px;
font-:family sans-serif
}
